<ion-content padding class="background-color-donnees">
  <div style="padding-bottom:10px;">
    <span class="txt-title">{{"frm.data.titre" | translate}}</span>
    <br>
  </div>
  <div style="color:#000;"  [hidden]="isHidden()">{{"msg.data.locales" | translate}}</div>
  <div  *ngFor="let dataLocal of lstDataLocal" style="margin-bottom:20px;" [hidden]="isHidden()" >
    <div  class="roundRect" style="margin-bottom:10px;">
      {{dataLocal.dateInj}} - {{ dataLocal.timeInj }}
      <br>
      {{"msg.hdc"|translate}}: {{ dataLocal.nbHdc }}
      <br>
      {{"msg.glycemie"|translate}}: {{ dataLocal.glycemie }}
      <br>
      {{"msg.injection"|translate}}: {{ dataLocal.injection }}     
    </div>
  </div>
  <div style="color:#000;">{{"msg.data.dernieresDonnees" | translate}}</div>  
  <div *ngFor="let data of lstData" style="margin-bottom:10px;">
    <div  class="roundRect" style="margin-bottom:10px;">
        {{data.dateInj | convertDate}} - {{ data.timeInj }}
        <br>
        {{"msg.hdc"|translate}}: {{ data.nbHdc }}
        <br>
        {{"msg.glycemie"|translate}}: {{ data.glycemie }}
        <br>
        {{"msg.injection"|translate}}: {{ data.injection }}     
      </div>
    </div>

</ion-content>
