page-home {

    .background-image{
        background-image: url('/assets/img/fond1.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

}
