.ion-ios-home,
.ion-md-home {
  content: url(../../assets/img/icone/ICONE_HOME.svg);
  width: 30px;
  height: 40px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-menu,
.ion-md-menu {
  content: url(../../assets/img/icone/ICONE_MENU.svg);
  width: 32px;
  height: 40px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-bolus,
.ion-md-bolus {
  content: url(../../assets/img/icone/ICONE_CALCULATOR_HOME.svg);
  width: 32px;
  height: 40px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-delete,
.ion-md-delete {
  content: url(../../assets/img/icone/close-button.svg);
  width: 15px;
  height: 20px;
  padding: 0px 0px 0px;
  opacity: 0.9;
}

.ion-ios-connexion,
.ion-md-connexion {
  content: url(../../assets/img/icone/ICONE_LOGIN.svg);
  width: 34px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.ion-ios-deconnexion,
.ion-md-deconnexion {
  content: url(../../assets/img/icone/ICONE_LOGOUT.svg);
  width: 34px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

ion-ios-checkOn,
.ion-md-checkOn {
  content: url(../../assets/img/icone/ICONE_Checkbox_on.svg);
  width: 34px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}


ion-ios-calculAl,
.ion-md-calculAl {
  content: url(../../assets/img/icone/ICONE_CALCULATOR_OFF.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}
ion-ios-calculAlOn,
.ion-md-calculAlOn {
  content: url(../../assets/img/icone/ICONE_CALCULATOR_ON.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

ion-ios-calculMnAl,
.ion-md-calculMnAl {
  content: url(../../assets/img/icone/ICONE_MON-ALLIMENT_OFF.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

ion-ios-calculMnAlOn,
.ion-md-calculMnAlOn {
  content: url(../../assets/img/icone/ICONE_MON-ALLIMENT_ON.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}


ion-ios-calculListe,
.ion-md-calculListe {
  content: url(../../assets/img/icone/ICONE_LISTE_OFF.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

ion-ios-calculListeOn,
.ion-md-calculListeOn {
  content: url(../../assets/img/icone/ICONE_LISTE_ON.svg);
  width: 10px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}



